/* Colors */
$brand-purple: #7668ED;
$brand-light-purple: #A69BFF;
$brand-grey: #FAFAFC;
$brand-dark-blue: #333564;
$brand-pink: #F853F7;
$brand-blue: #68B8EA;
$brand-red: #FE756A;
$brand-yellow: #EDD83E;
$brand-green: #81D695;

$font-color: #333564;

.user-details {
	tr {
		background-color: #fff;
	}

	th {
		padding: 0.6em 1em;
		font-weight: 500;
	}

	td {
		padding: 0.6em 1em;
	}

  .btn-permissions-math{
    border: 1px solid rgb(93,77,206);
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(233,232,252);
  }
}

.alert-permissions {
  padding: 0;


  .alert-title {
    padding: 1rem;
  }

  .flex-row {
    border-top: solid 1px darken($brand-grey, 10%);
    margin: 0;

    .col {
      border-right: solid 1px darken($brand-grey, 10%);

      &:last-child {
        border-right: none;
      }
    }

  }
}

tr > td {
  padding: 5px 2px;
  text-indent: 5px;
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: rgb(93,77,206, 0.1);
}